
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{{ url_for('index') }}" class="home-link">Home</a>
            <h1>Home</h1>
            <h1>{{ temp }}</h1>
        </header>
        <div class="uni-form">
            <form method="POST">
                <input type="text" name="username" required placeholder="Username">
                <input type="password" name="password" required placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="uni-form">
            <form method="POST">
                <input type="text" name="first_name" required placeholder="First Name">
                <input type="text" name="last_name" required placeholder="Last Name">
                <input type="email" name="email" required placeholder="Email">
                <input type="text" name="username" required placeholder="Username">
                <input type="password" name="password" required placeholder="Password">
                <input type="submit" value="Signup">
            </form>
        </div>
    </div>
    <div>
        {% if e %}
        <h1>{{  e  }}</h1>
        {% endif %}
    </div>
</body>
</html>