{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <header>
            <a href="{{ url_for('home.home') }}" class="home-link">Home</a>
            <a href="{{ url_for('user.chat') }}" class="home-link">Chat</a>
            <a href="{{ url_for('user.products') }}" class="home-link">Shop</a>
        </header>
    </div>
    <div>
        <ul>
            <li>{{ user[0] }}</li>
            <li>{{ user[1] }}</li>
            <li>{{ user[2] }}</li>
            <li>{{ user[3] }}</li>
            <li>{{ user[4] }}</li>
            <li>{{ user[5] }}</li>
        </ul>
        {% if e %}
            <h1>{{  e  }}</h1>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}